@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

* {
  color: #000;
  font-family: 'Crimson Text', serif;
}

body {
  /* background-color: rgb(255, 255, 255); */
  font-family: 'Crimson Text', serif;
  text-align: center;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

h3 {
  font-weight: bold;
}

h3,
h4 {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
  text-align: start;
}

li {
  padding-bottom: 20px;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Header */

.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
}

.Header a {
  text-decoration: none;
  color: black;
}

.Header .Header-main h1 {
  display: inline-block;
  letter-spacing: 5px;
  padding: 10px 20px 10px 40px;
  font-size: 15px;
  font-weight: 1000;
}

.Header .menu ul {
  display: inline;
  box-sizing: border-box;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-right: 40px;
}

.Header .menu li {
  display: inline;
}

.Header .menu a {
  display: inline-block;
  padding: 10px 20px 10px 30px;
  font-size: 18px;
  font-weight: 400;
}

/* Info */

.Info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 110px;
  font-size: 18px;
  list-style: none;
}

.Info div {
  border: 1px solid black;
  padding-top: 30px;
  width: 483px;
}

.Info a {
  color: #ef87fde8;
}

.Info a:hover {
  color: #000000;
  transition: 0.3s all ease;
}

.Info div:nth-child(2) {
  border-left: none;
  border-bottom: none;
  border-right: none;
}

.Info div:nth-child(4) {
  background-color: rgba(146, 255, 219, 0.195);
  border-top: none;
  border-right: none;
}

/* Project */

.Project {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 110px;
  padding-right: 30px;
}

.Project div {
  padding-right: 30px;
}

.Project a:hover {
  color: #f6b3ffe8;
  transition: 0.3s all ease;
}

.top-btn {
  position: fixed;
  bottom: 40px;
  right: 41px;
  width: 40px;
  height: 40px;
  color: black;
  background: #fff;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-image: url('../public/assets/up-icon.png');
  background-size: 100%;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

/* Contact */

.Contact {
  padding-top: 140px;
  font-size: 18px;
}

.Contact p a:hover {
  color: #f6b3ffe8;
  transition: 0.3s all ease;
}

/* IMG */

.carousel-inner {
  width: 1000px;
  height: 100%;
}

.carousel slide {
  height: 1000px;
}

.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  position: fixed;
}

.index-module_type__E-SaG {
  font-size: 18px;
}

@media screen and (max-width: 576px) {
  *,
  h3,
  h4 {
    font-size: 15px;
  }
  .Header .menu a {
    padding: 6px;
  }
  .w-100 {
    width: 500px;
  }
}
